<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXTmv3IYtt384DjzUwCbKpOajcVXCBNpI</string>
	<key>GCM_SENDER_ID</key>
	<string>37063894955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyeon.SetLogPlus</string>
	<key>PROJECT_ID</key>
	<string>setlogplus</string>
	<key>STORAGE_BUCKET</key>
	<string>setlogplus.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37063894955:ios:0d04b69f5bcf4648d614ee</string>
</dict>
</plist>